.controls-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.control_btn {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  width: 100px;
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: var(--box-shadow);
  display: flex;
  column-gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}

.control_btn > span:first-child {
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  width: 10px;
  line-height: 12px;
}

.control_btn:hover {
  box-shadow: var(--box-shadow-hover);
  transform: scale(1.01);
}
@media screen and (min-width: 768px) {
  .controls-container {
    column-gap: var(--spacing);
  }

  .control_btn {
    padding: 10px 15px;
    font-size: 20px;
    width: 150px;
  }

  .control_btn > span:first-child {
    font-size: 20px;
    font-weight: 700;
    width: 20px;
    line-height: 24px;
  }
}
